files:
  "/tmp/Dynatrace-OneAgent.sh":
    mode: "000755"
    owner: root
    group: root
    source: "https://abcdefg.live.dynatrace.com/api/v1/deployment/installer/agent/unix/default/latest?arch=x86&flavor=default&Api-Token=abcdefghijklmnopqrstuv"
 

commands:
  install_dynatrace:
    cwd: /tmp
    command: "/bin/sh Dynatrace-OneAgent.sh --set-host-group=Test-Host-Group"
